.textoExplicativo{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top:3px;
}
.textoExplicativoSub{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-top:3px;
}