a {
     text-decoration: none !important;
    
}
.fixli{
    margin-left: 0;
    padding-left: 0;
}
.fixpos{
    padding-left: 9.2% !important;
}
html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3 !important;
}

img {
    padding-bottom: 4px;
}

.ulsecond{
    margin-left: 70%;
}
nav {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

li{ 
    
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    
}
.middle{
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    color: white !important;
    text-decoration: none;
    opacity: .9;

}
.fontstyle{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: white !important;
    text-decoration: none;
    opacity: .6;
    transition: 0.3s;
}
.sidebarFont{
     font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-decoration: none !important;
    opacity: .6;
    transition: 0.3s;
    margin-bottom: 0;
}
.sidebarFont-item{
     font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-decoration: none !important;
    opacity: .6;
    transition: 0.3s;
    margin-bottom: 0;
}
.sesionstyle{
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    text-decoration: none;
    opacity: .6;
    transition: 0.3s;
    margin-bottom: 0;
}
.fontstyle:hover{
    font-size: 16px;
    opacity: 1;
    color: #495057;
    font-weight: 400;
    text-decoration: none;
}

.fontstyle:visited{
    font-size: 16px;
    opacity: 1;
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.dropdownx {
  position: relative;
  display: inline-block;
}

.dropdown-contentx {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-sesion {
    border: 0.4px solid #6c757d !important;
    right: 0;
  margin-left: 30px;
  text-align: center;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 50%;
  height: 40px;
  z-index: 1;
  border-radius: 20px;
  padding-top: 10px;
}
.dropdownx:hover .dropdown-sesion {
  display: block;
}
.dropdownx:hover .dropdown-contentx {
  display: block;
}
.dropstyle{
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    color: white !important;
    text-decoration: none;
    opacity: .6;
    transition: 0.3s;
}
.dropstyle:hover{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: white !important;
    text-decoration: none;
    opacity: .6;
    transition: 0.3s;
}

.cardLogin{
    width: 35% !important;
    height: 500px !important;
    margin-top: 50px;
    border-radius: 20px !important;
}
.loginFontTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-top:3px;
    text-align: center;
    color: #6c757d;

}
.hrHistorial{
    width: 230px !important;
    margin-right: 0 !important;
}
.atras{
    width: 55px !important;
    text-align: center !important;
    height: 35px !important;
}
.font-12{
    font-family: 'Poppins', sans-serif;
    font-size: 12px !important; 
}
.loginFont{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top:3px;
    width: 100% !important;
}
.loginFontMID{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top:3px;
    width: 150px !important;
}
.d-content{
    display: contents !important;
}
.margin-auto{
    margin: 0 auto;
}
.loginFontButton{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding-top: 5px;

}
input{
     border:solid 1px #ccc;
      border-radius: 6px;
}
table{
margin: auto !important;
}
.m-50{
margin-top: 50px !important;
}
.w-80{
    width: 80%;
}
.buttonRegistro {
    width: 150px !important;
}
.mid{
    text-align: center;
}
.left{
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
}

.logo{
    margin-top: 20px;
    font-size: 170px;
    color: #6c757d;
}
.cardRegistro{
    width: 45% !important;
    margin-top: 50px;
    border-radius: 20px !important;
    padding-bottom: 30px !important;
}
.camposObli{
    
    font-size: 12px;
}
